__pycache__/create_classifier.cpython-310.pyc
__pycache__/create_dataset.cpython-310.pyc
__pycache__/Detector.cpython-310.pyc
data/classifiers/kalpa_classifier.xml
data/classifiers/qian_classifier.xml
data/kalpa/0kalpa.jpg
data/kalpa/1kalpa.jpg
data/kalpa/2kalpa.jpg
data/kalpa/3kalpa.jpg
data/kalpa/4kalpa.jpg
data/kalpa/5kalpa.jpg
data/kalpa/6kalpa.jpg
data/kalpa/7kalpa.jpg
data/kalpa/8kalpa.jpg
data/kalpa/9kalpa.jpg
data/kalpa/10kalpa.jpg
data/kalpa/11kalpa.jpg
data/kalpa/12kalpa.jpg
data/kalpa/13kalpa.jpg
data/kalpa/14kalpa.jpg
data/kalpa/15kalpa.jpg
data/kalpa/16kalpa.jpg
data/kalpa/17kalpa.jpg
data/kalpa/18kalpa.jpg
data/kalpa/19kalpa.jpg
data/kalpa/20kalpa.jpg
data/kalpa/21kalpa.jpg
data/kalpa/22kalpa.jpg
data/kalpa/23kalpa.jpg
data/kalpa/24kalpa.jpg
data/kalpa/25kalpa.jpg
data/kalpa/26kalpa.jpg
data/kalpa/27kalpa.jpg
data/kalpa/28kalpa.jpg
data/kalpa/29kalpa.jpg
data/kalpa/30kalpa.jpg
data/kalpa/31kalpa.jpg
data/kalpa/32kalpa.jpg
data/kalpa/33kalpa.jpg
data/kalpa/34kalpa.jpg
data/kalpa/35kalpa.jpg
data/kalpa/36kalpa.jpg
data/kalpa/37kalpa.jpg
data/kalpa/38kalpa.jpg
data/kalpa/39kalpa.jpg
data/kalpa/40kalpa.jpg
data/kalpa/41kalpa.jpg
data/kalpa/42kalpa.jpg
data/kalpa/43kalpa.jpg
data/kalpa/44kalpa.jpg
data/kalpa/45kalpa.jpg
data/kalpa/46kalpa.jpg
data/kalpa/47kalpa.jpg
data/kalpa/48kalpa.jpg
data/kalpa/49kalpa.jpg
data/kalpa/50kalpa.jpg
data/kalpa/51kalpa.jpg
data/kalpa/52kalpa.jpg
data/kalpa/53kalpa.jpg
data/kalpa/54kalpa.jpg
data/kalpa/55kalpa.jpg
data/kalpa/56kalpa.jpg
data/kalpa/57kalpa.jpg
data/kalpa/58kalpa.jpg
data/kalpa/59kalpa.jpg
data/kalpa/60kalpa.jpg
data/kalpa/61kalpa.jpg
data/kalpa/62kalpa.jpg
data/kalpa/63kalpa.jpg
data/kalpa/64kalpa.jpg
data/kalpa/65kalpa.jpg
data/kalpa/66kalpa.jpg
data/kalpa/67kalpa.jpg
data/kalpa/68kalpa.jpg
data/kalpa/69kalpa.jpg
data/kalpa/70kalpa.jpg
data/kalpa/71kalpa.jpg
data/kalpa/72kalpa.jpg
data/kalpa/73kalpa.jpg
data/kalpa/74kalpa.jpg
data/kalpa/75kalpa.jpg
data/kalpa/76kalpa.jpg
data/kalpa/77kalpa.jpg
data/kalpa/78kalpa.jpg
data/kalpa/79kalpa.jpg
data/kalpa/80kalpa.jpg
data/kalpa/81kalpa.jpg
data/kalpa/82kalpa.jpg
data/kalpa/83kalpa.jpg
data/kalpa/84kalpa.jpg
data/kalpa/85kalpa.jpg
data/kalpa/86kalpa.jpg
data/kalpa/87kalpa.jpg
data/kalpa/88kalpa.jpg
data/kalpa/89kalpa.jpg
data/kalpa/90kalpa.jpg
data/kalpa/91kalpa.jpg
data/kalpa/92kalpa.jpg
data/kalpa/93kalpa.jpg
data/kalpa/94kalpa.jpg
data/kalpa/95kalpa.jpg
data/kalpa/96kalpa.jpg
data/kalpa/97kalpa.jpg
data/kalpa/98kalpa.jpg
data/kalpa/99kalpa.jpg
data/kalpa/100kalpa.jpg
data/kalpa/101kalpa.jpg
data/kalpa/102kalpa.jpg
data/kalpa/103kalpa.jpg
data/kalpa/104kalpa.jpg
data/kalpa/105kalpa.jpg
data/kalpa/106kalpa.jpg
data/kalpa/107kalpa.jpg
data/kalpa/108kalpa.jpg
data/kalpa/109kalpa.jpg
data/kalpa/110kalpa.jpg
data/kalpa/111kalpa.jpg
data/kalpa/112kalpa.jpg
data/kalpa/113kalpa.jpg
data/kalpa/114kalpa.jpg
data/kalpa/115kalpa.jpg
data/kalpa/116kalpa.jpg
data/kalpa/117kalpa.jpg
data/kalpa/118kalpa.jpg
data/kalpa/119kalpa.jpg
data/kalpa/120kalpa.jpg
data/kalpa/121kalpa.jpg
data/kalpa/122kalpa.jpg
data/kalpa/123kalpa.jpg
data/kalpa/124kalpa.jpg
data/kalpa/125kalpa.jpg
data/kalpa/126kalpa.jpg
data/kalpa/127kalpa.jpg
data/kalpa/128kalpa.jpg
data/kalpa/129kalpa.jpg
data/kalpa/130kalpa.jpg
data/kalpa/131kalpa.jpg
data/kalpa/132kalpa.jpg
data/kalpa/133kalpa.jpg
data/kalpa/134kalpa.jpg
data/kalpa/135kalpa.jpg
data/kalpa/136kalpa.jpg
data/kalpa/137kalpa.jpg
data/kalpa/138kalpa.jpg
data/kalpa/139kalpa.jpg
data/kalpa/140kalpa.jpg
data/kalpa/141kalpa.jpg
data/kalpa/142kalpa.jpg
data/kalpa/143kalpa.jpg
data/kalpa/144kalpa.jpg
data/kalpa/145kalpa.jpg
data/kalpa/146kalpa.jpg
data/kalpa/147kalpa.jpg
data/kalpa/148kalpa.jpg
data/kalpa/149kalpa.jpg
data/kalpa/150kalpa.jpg
data/kalpa/151kalpa.jpg
data/kalpa/152kalpa.jpg
data/kalpa/153kalpa.jpg
data/kalpa/154kalpa.jpg
data/kalpa/155kalpa.jpg
data/kalpa/156kalpa.jpg
data/kalpa/157kalpa.jpg
data/kalpa/158kalpa.jpg
data/kalpa/159kalpa.jpg
data/kalpa/160kalpa.jpg
data/kalpa/161kalpa.jpg
data/kalpa/162kalpa.jpg
data/kalpa/163kalpa.jpg
data/kalpa/164kalpa.jpg
data/kalpa/165kalpa.jpg
data/kalpa/166kalpa.jpg
data/kalpa/167kalpa.jpg
data/kalpa/168kalpa.jpg
data/kalpa/169kalpa.jpg
data/kalpa/170kalpa.jpg
data/kalpa/171kalpa.jpg
data/kalpa/172kalpa.jpg
data/kalpa/173kalpa.jpg
data/kalpa/174kalpa.jpg
data/kalpa/175kalpa.jpg
data/kalpa/176kalpa.jpg
data/kalpa/177kalpa.jpg
data/kalpa/178kalpa.jpg
data/kalpa/179kalpa.jpg
data/kalpa/180kalpa.jpg
data/kalpa/181kalpa.jpg
data/kalpa/182kalpa.jpg
data/kalpa/183kalpa.jpg
data/kalpa/184kalpa.jpg
data/kalpa/185kalpa.jpg
data/kalpa/186kalpa.jpg
data/kalpa/187kalpa.jpg
data/kalpa/188kalpa.jpg
data/kalpa/189kalpa.jpg
data/kalpa/190kalpa.jpg
data/kalpa/191kalpa.jpg
data/kalpa/192kalpa.jpg
data/kalpa/193kalpa.jpg
data/kalpa/194kalpa.jpg
data/kalpa/195kalpa.jpg
data/kalpa/196kalpa.jpg
data/kalpa/197kalpa.jpg
data/kalpa/198kalpa.jpg
data/kalpa/199kalpa.jpg
data/kalpa/200kalpa.jpg
data/kalpa/201kalpa.jpg
data/kalpa/202kalpa.jpg
data/kalpa/203kalpa.jpg
data/kalpa/204kalpa.jpg
data/kalpa/205kalpa.jpg
data/kalpa/206kalpa.jpg
data/kalpa/207kalpa.jpg
data/kalpa/208kalpa.jpg
data/kalpa/209kalpa.jpg
data/kalpa/210kalpa.jpg
data/kalpa/211kalpa.jpg
data/kalpa/212kalpa.jpg
data/kalpa/213kalpa.jpg
data/kalpa/214kalpa.jpg
data/kalpa/215kalpa.jpg
data/kalpa/216kalpa.jpg
data/kalpa/217kalpa.jpg
data/kalpa/218kalpa.jpg
data/kalpa/219kalpa.jpg
data/kalpa/220kalpa.jpg
data/kalpa/221kalpa.jpg
data/kalpa/222kalpa.jpg
data/kalpa/223kalpa.jpg
data/kalpa/224kalpa.jpg
data/kalpa/225kalpa.jpg
data/kalpa/226kalpa.jpg
data/kalpa/227kalpa.jpg
data/kalpa/228kalpa.jpg
data/kalpa/229kalpa.jpg
data/kalpa/230kalpa.jpg
data/kalpa/231kalpa.jpg
data/kalpa/232kalpa.jpg
data/kalpa/233kalpa.jpg
data/kalpa/234kalpa.jpg
data/kalpa/235kalpa.jpg
data/kalpa/236kalpa.jpg
data/kalpa/237kalpa.jpg
data/kalpa/238kalpa.jpg
data/kalpa/239kalpa.jpg
data/kalpa/240kalpa.jpg
data/kalpa/241kalpa.jpg
data/kalpa/242kalpa.jpg
data/kalpa/243kalpa.jpg
data/kalpa/244kalpa.jpg
data/kalpa/245kalpa.jpg
data/kalpa/246kalpa.jpg
data/kalpa/247kalpa.jpg
data/kalpa/248kalpa.jpg
data/kalpa/249kalpa.jpg
data/kalpa/250kalpa.jpg
data/kalpa/251kalpa.jpg
data/kalpa/252kalpa.jpg
data/kalpa/253kalpa.jpg
data/kalpa/254kalpa.jpg
data/kalpa/255kalpa.jpg
data/kalpa/256kalpa.jpg
data/kalpa/257kalpa.jpg
data/kalpa/258kalpa.jpg
data/kalpa/259kalpa.jpg
data/kalpa/260kalpa.jpg
data/kalpa/261kalpa.jpg
data/kalpa/262kalpa.jpg
data/kalpa/263kalpa.jpg
data/kalpa/264kalpa.jpg
data/kalpa/265kalpa.jpg
data/kalpa/266kalpa.jpg
data/kalpa/267kalpa.jpg
data/kalpa/268kalpa.jpg
data/kalpa/269kalpa.jpg
data/kalpa/270kalpa.jpg
data/kalpa/271kalpa.jpg
data/kalpa/272kalpa.jpg
data/kalpa/273kalpa.jpg
data/kalpa/274kalpa.jpg
data/kalpa/275kalpa.jpg
data/kalpa/276kalpa.jpg
data/kalpa/277kalpa.jpg
data/kalpa/278kalpa.jpg
data/kalpa/279kalpa.jpg
data/kalpa/280kalpa.jpg
data/kalpa/281kalpa.jpg
data/kalpa/282kalpa.jpg
data/kalpa/283kalpa.jpg
data/kalpa/284kalpa.jpg
data/kalpa/285kalpa.jpg
data/kalpa/286kalpa.jpg
data/kalpa/287kalpa.jpg
data/kalpa/288kalpa.jpg
data/kalpa/289kalpa.jpg
data/kalpa/290kalpa.jpg
data/kalpa/291kalpa.jpg
data/kalpa/292kalpa.jpg
data/kalpa/293kalpa.jpg
data/kalpa/294kalpa.jpg
data/kalpa/295kalpa.jpg
data/kalpa/296kalpa.jpg
data/kalpa/297kalpa.jpg
data/kalpa/298kalpa.jpg
data/kalpa/299kalpa.jpg
data/kalpa/300kalpa.jpg
data/kalpa/301kalpa.jpg
data/kalpa/302kalpa.jpg
data/kalpa/303kalpa.jpg
data/kalpa/304kalpa.jpg
data/kalpa/305kalpa.jpg
data/kalpa/306kalpa.jpg
data/kalpa/307kalpa.jpg
data/kalpa/308kalpa.jpg
data/kalpa/309kalpa.jpg
data/kalpa/310kalpa.jpg
data/qian/0qian.jpg
data/qian/1qian.jpg
data/qian/2qian.jpg
data/qian/3qian.jpg
data/qian/4qian.jpg
data/qian/5qian.jpg
data/qian/6qian.jpg
data/qian/7qian.jpg
data/qian/8qian.jpg
data/qian/9qian.jpg
data/qian/10qian.jpg
data/qian/11qian.jpg
data/qian/12qian.jpg
data/qian/13qian.jpg
data/qian/14qian.jpg
data/qian/15qian.jpg
data/qian/16qian.jpg
data/qian/17qian.jpg
data/qian/18qian.jpg
data/qian/19qian.jpg
data/qian/20qian.jpg
data/qian/21qian.jpg
data/qian/22qian.jpg
data/qian/23qian.jpg
data/qian/24qian.jpg
data/qian/25qian.jpg
data/qian/26qian.jpg
data/qian/27qian.jpg
data/qian/28qian.jpg
data/qian/29qian.jpg
data/qian/30qian.jpg
data/qian/31qian.jpg
data/qian/32qian.jpg
data/qian/33qian.jpg
data/qian/34qian.jpg
data/qian/35qian.jpg
data/qian/36qian.jpg
data/qian/37qian.jpg
data/qian/38qian.jpg
data/qian/39qian.jpg
data/qian/40qian.jpg
data/qian/41qian.jpg
data/qian/42qian.jpg
data/qian/43qian.jpg
data/qian/44qian.jpg
data/qian/45qian.jpg
data/qian/46qian.jpg
data/qian/47qian.jpg
data/qian/48qian.jpg
data/qian/49qian.jpg
data/qian/50qian.jpg
data/qian/51qian.jpg
data/qian/52qian.jpg
data/qian/53qian.jpg
data/qian/54qian.jpg
data/qian/55qian.jpg
data/qian/56qian.jpg
data/qian/57qian.jpg
data/qian/58qian.jpg
data/qian/59qian.jpg
data/qian/60qian.jpg
data/qian/61qian.jpg
data/qian/62qian.jpg
data/qian/63qian.jpg
data/qian/64qian.jpg
data/qian/65qian.jpg
data/qian/66qian.jpg
data/qian/67qian.jpg
data/qian/68qian.jpg
data/qian/69qian.jpg
data/qian/70qian.jpg
data/qian/71qian.jpg
data/qian/72qian.jpg
data/qian/73qian.jpg
data/qian/74qian.jpg
data/qian/75qian.jpg
data/qian/76qian.jpg
data/qian/77qian.jpg
data/qian/78qian.jpg
data/qian/79qian.jpg
data/qian/80qian.jpg
data/qian/81qian.jpg
data/qian/82qian.jpg
data/qian/83qian.jpg
data/qian/84qian.jpg
data/qian/85qian.jpg
data/qian/86qian.jpg
data/qian/87qian.jpg
data/qian/88qian.jpg
data/qian/89qian.jpg
data/qian/90qian.jpg
data/qian/91qian.jpg
data/qian/92qian.jpg
data/qian/93qian.jpg
data/qian/94qian.jpg
data/qian/95qian.jpg
data/qian/96qian.jpg
data/qian/97qian.jpg
data/qian/98qian.jpg
data/qian/99qian.jpg
data/qian/100qian.jpg
data/qian/101qian.jpg
data/qian/102qian.jpg
data/qian/103qian.jpg
data/qian/104qian.jpg
data/qian/105qian.jpg
data/qian/106qian.jpg
data/qian/107qian.jpg
data/qian/108qian.jpg
data/qian/109qian.jpg
data/qian/110qian.jpg
data/qian/111qian.jpg
data/qian/112qian.jpg
data/qian/113qian.jpg
data/qian/114qian.jpg
data/qian/115qian.jpg
data/qian/116qian.jpg
data/qian/117qian.jpg
data/qian/118qian.jpg
data/qian/119qian.jpg
data/qian/120qian.jpg
data/qian/121qian.jpg
data/qian/122qian.jpg
data/qian/123qian.jpg
data/qian/124qian.jpg
data/qian/125qian.jpg
data/qian/126qian.jpg
data/qian/127qian.jpg
data/qian/128qian.jpg
data/qian/129qian.jpg
data/qian/130qian.jpg
data/qian/131qian.jpg
data/qian/132qian.jpg
data/qian/133qian.jpg
data/qian/134qian.jpg
data/qian/135qian.jpg
data/qian/136qian.jpg
data/qian/137qian.jpg
data/qian/138qian.jpg
data/qian/139qian.jpg
data/qian/140qian.jpg
data/qian/141qian.jpg
data/qian/142qian.jpg
data/qian/143qian.jpg
data/qian/144qian.jpg
data/qian/145qian.jpg
data/qian/146qian.jpg
data/qian/147qian.jpg
data/qian/148qian.jpg
data/qian/149qian.jpg
data/qian/150qian.jpg
data/qian/151qian.jpg
data/qian/152qian.jpg
data/qian/153qian.jpg
data/qian/154qian.jpg
data/qian/155qian.jpg
data/qian/156qian.jpg
data/qian/157qian.jpg
data/qian/158qian.jpg
data/qian/159qian.jpg
data/qian/160qian.jpg
data/qian/161qian.jpg
data/qian/162qian.jpg
data/qian/163qian.jpg
data/qian/164qian.jpg
data/qian/165qian.jpg
data/qian/166qian.jpg
data/qian/167qian.jpg
data/qian/168qian.jpg
data/qian/169qian.jpg
data/qian/170qian.jpg
data/qian/171qian.jpg
data/qian/172qian.jpg
data/qian/173qian.jpg
data/qian/174qian.jpg
data/qian/175qian.jpg
data/qian/176qian.jpg
data/qian/177qian.jpg
data/qian/178qian.jpg
data/qian/179qian.jpg
data/qian/180qian.jpg
data/qian/181qian.jpg
data/qian/182qian.jpg
data/qian/183qian.jpg
data/qian/184qian.jpg
data/qian/185qian.jpg
data/qian/186qian.jpg
data/qian/187qian.jpg
data/qian/188qian.jpg
data/qian/189qian.jpg
data/qian/190qian.jpg
data/qian/191qian.jpg
data/qian/192qian.jpg
data/qian/193qian.jpg
data/qian/194qian.jpg
data/qian/195qian.jpg
data/qian/196qian.jpg
data/qian/197qian.jpg
data/qian/198qian.jpg
data/qian/199qian.jpg
data/qian/200qian.jpg
data/qian/201qian.jpg
data/qian/202qian.jpg
data/qian/203qian.jpg
data/qian/204qian.jpg
data/qian/205qian.jpg
data/qian/206qian.jpg
data/qian/207qian.jpg
data/qian/208qian.jpg
data/qian/209qian.jpg
data/qian/210qian.jpg
data/qian/211qian.jpg
data/qian/212qian.jpg
data/qian/213qian.jpg
data/qian/214qian.jpg
data/qian/215qian.jpg
data/qian/216qian.jpg
data/qian/217qian.jpg
data/qian/218qian.jpg
data/qian/219qian.jpg
data/qian/220qian.jpg
data/qian/221qian.jpg
data/qian/222qian.jpg
data/qian/223qian.jpg
data/qian/224qian.jpg
data/qian/225qian.jpg
data/qian/226qian.jpg
data/qian/227qian.jpg
data/qian/228qian.jpg
data/qian/229qian.jpg
data/qian/230qian.jpg
data/qian/231qian.jpg
data/qian/232qian.jpg
data/qian/233qian.jpg
data/qian/234qian.jpg
data/qian/235qian.jpg
data/qian/236qian.jpg
data/qian/237qian.jpg
data/qian/238qian.jpg
data/qian/239qian.jpg
data/qian/240qian.jpg
data/qian/241qian.jpg
data/qian/242qian.jpg
data/qian/243qian.jpg
data/qian/244qian.jpg
data/qian/245qian.jpg
data/qian/246qian.jpg
data/qian/247qian.jpg
data/qian/248qian.jpg
data/qian/249qian.jpg
data/qian/250qian.jpg
data/qian/251qian.jpg
data/qian/252qian.jpg
data/qian/253qian.jpg
data/qian/254qian.jpg
data/qian/255qian.jpg
data/qian/256qian.jpg
data/qian/257qian.jpg
data/qian/258qian.jpg
data/qian/259qian.jpg
data/qian/260qian.jpg
data/qian/261qian.jpg
data/qian/262qian.jpg
data/qian/263qian.jpg
data/qian/264qian.jpg
data/qian/265qian.jpg
data/qian/266qian.jpg
data/qian/267qian.jpg
data/qian/268qian.jpg
data/qian/269qian.jpg
data/qian/270qian.jpg
data/qian/271qian.jpg
data/qian/272qian.jpg
data/qian/273qian.jpg
data/qian/274qian.jpg
data/qian/275qian.jpg
data/qian/276qian.jpg
data/qian/277qian.jpg
data/qian/278qian.jpg
data/qian/279qian.jpg
data/qian/280qian.jpg
data/qian/281qian.jpg
data/qian/282qian.jpg
data/qian/283qian.jpg
data/qian/284qian.jpg
data/qian/285qian.jpg
data/qian/286qian.jpg
data/qian/287qian.jpg
data/qian/288qian.jpg
data/qian/289qian.jpg
data/qian/290qian.jpg
data/qian/291qian.jpg
data/qian/292qian.jpg
data/qian/293qian.jpg
data/qian/294qian.jpg
data/qian/295qian.jpg
data/qian/296qian.jpg
data/qian/297qian.jpg
data/qian/298qian.jpg
data/qian/299qian.jpg
data/qian/300qian.jpg
data/qian/301qian.jpg
data/qian/302qian.jpg
data/qian/303qian.jpg
data/qian/304qian.jpg
data/qian/305qian.jpg
data/qian/306qian.jpg
data/qian/307qian.jpg
data/qian/308qian.jpg
data/qian/309qian.jpg
data/qian/310qian.jpg
